
.form-control1{
    border-color: #c79c60;
    border-radius: 5px;
    width:400px;
    
  }

  button.tm-more-button {
    background-color: transparent;
    border: 0;
    display: block;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    
  }
  button.tm-more-button:hover{
      color:rgb(32, 104, 187);
  }
  .tm-contact-form{
    
      margin-left:auto;
      margin-top:10px;
  }
label{

    font-weight: bold;
}
.Hrule{
    background-color:chocolate;

}