.vtitle{
color:#13274f;
font-weight: bold;
font-style: italic;
}
.vtitle :hover{
    color:brown;
}
.vc{
    height:60vh;
}
#mh2{
    margin-top: 0.5em;
    margin-bottom: 1em;
    color:#dda24f;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.h2{
    color:#c58831;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:1em;
    margin-bottom: 1em;
}